$prefix : 'impact';
// color
$color_black:#000;
$color_white:#fff;
$color_green:#00b29e;
$color_orange:#f56954;
$color_dark-grey:#303641;
$color_pink:#ec3b83;
$bg-white: #f8f8f8;


// font
$font_main:Lato; 
$color__text-main: #222;
;
//font size
$content_size:16px;