.#{$prefix}-banner{
    background: url(../images/bg1.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
    }
    .container{
        position: relative;
        height: 100%;
        .banner-content{
            @include center;
            width: 100%;
            text-align: center;
            h1,p,span{
                color: $color_white;
                padding: 20px;
                position: relative;
                display: inline-block;
                margin-bottom: 10px;
                text-transform: uppercase;
                &:after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0,0,0,0.4);
                    height: 100%;
                    width: 100%;
                    z-index: -1;
                }
            }
            i{
                font-size: 80px;
            }
        }
    }
}