*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex-center{
    align-items: center;

}
.section_title{
    h2{
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        padding: 0 30px 20px;
        letter-spacing: 6px;
        &:after{
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            bottom: 0;
            left: 0;
            background-color:#eee;
        }
    }
    p{
        text-transform: uppercase;
        margin-top: 20px;

    }
}

.p-100{
    padding: 100px 0;
}
.bg_white-section{
    background-color: $bg-white;
}
.pb-150{
    padding-bottom: 150px;
}
.bg-orange{
    background-color: $color_orange;
}
.bg-green{
    background-color: $color_green;
}
.bg-dark-grey{
    background-color: $color_dark-grey
}
.bg-pink{
    background-color: $color_pink;
}
.border-range{
    &.w-98{
        &::before{
            width: 98%;
        }
    }
}
.border-range{
    &.w-90{
        &::before{
            width: 90%;
        }
    }
}
.border-range{
    &.w-10{
        &::before{
            width: 10%;
        }
    }
}